---
import BackOnTrackLayout from "../layouts/BackOnTrackLayout.astro";
---

<BackOnTrackLayout title="404 Not Found">
  <div
    class="flex h-full flex-grow flex-col items-center justify-start gap-10 p-5"
  >
    <h1
      class="p-2 text-center text-3xl font-extrabold text-bot-blue md:text-6xl"
    >
      404 Not Found
    </h1>
    <p class="max-w-xl text-center text-lg">
      The page you requested could not be found.<br /><br />
      <a href="/" class="underline">Click here to return to home.</a>
    </p>
  </div>
</BackOnTrackLayout>
