---
import BackOnTrackLayout from "../layouts/BackOnTrackLayout.astro";
---

<BackOnTrackLayout title="About">
  <div class="m-5">
    <p class="text-center text-xl text-black">
      Since our founding in <i>2020</i>, we have been dedicated to serving those
      affected by homelessness and food insecurity.<br />
      Collectively we have volunteered over <b>10,000</b> hours and served over <b
        >50,000</b
      > meals across the country.<br />
      Currently we have 12 chapters located in 9 states across the country.
    </p>
  </div>
  <div class="h-full"></div>
</BackOnTrackLayout>
