---
import { Image } from "astro:assets";

import BackOnTrackLayout from "../layouts/BackOnTrackLayout.astro";
---

<BackOnTrackLayout title="Home">
  <p class="p-5 text-center text-4xl font-medium">
    Our mission is to serve the homeless and those suffering from food
    insecurity by coordinating student volunteers in our communities.
  </p>
  <Image
    src="/map.png"
    alt="Map showing states that have chapters"
    class="h-fit w-screen"
    width="5000"
    height="3500"
  />
  <div class="h-full"></div>
</BackOnTrackLayout>
