---
import { Image } from "astro:assets";

import BackOnTrackLayout from "../layouts/BackOnTrackLayout.astro";
---

<BackOnTrackLayout title="Home">
  <div class="flex flex-col p-5">
    <p
      class="p-2 text-center text-3xl font-extrabold text-bot-blue md:text-6xl"
    >
      Our mission is...
    </p>
    <p class="p-2 text-center text-xl font-extrabold text-bot-blue md:text-4xl">
      to serve the homeless and those suffering from food insecurity by
      coordinating student volunteers in our communities.
    </p>
  </div>
  <Image
    src="/map.png"
    alt="Map showing states that have chapters"
    class="h-fit w-screen"
    width="5000"
    height="3000"
    loading="eager"
  />
  <Image
    src="/partners.png"
    alt="Logos of our partner organizations"
    class="h-fit w-screen"
    width="1900"
    height="800"
  />
  <div class="h-full"></div>
</BackOnTrackLayout>
