---
import { Image } from "astro:assets";

import BackOnTrackLayout from "../layouts/BackOnTrackLayout.astro";
import InteractiveMap from "../components/InteractiveMap.astro";
---

<BackOnTrackLayout title="Home">
  <div class="flex h-full flex-grow flex-col p-5">
    <h1
      class="p-2 text-center text-3xl font-extrabold text-bot-blue md:text-6xl"
    >
      Our mission is...
    </h1>
    <h2
      class="p-2 text-center text-xl font-extrabold text-bot-blue md:text-4xl"
    >
      to serve the homeless and those suffering from food insecurity by
      coordinating student volunteers in our communities.
    </h2>
  </div>
  <div class="w-full max-w-5xl mx-auto">
    <InteractiveMap />
  </div>
  <Image
    src="/partners.png"
    alt="Logos of our partner organizations"
    class="h-fit w-screen"
    width="1900"
    height="800"
  />
</BackOnTrackLayout>
