---
import BackOnTrackLayout from "../layouts/BackOnTrackLayout.astro";
---

<BackOnTrackLayout title="About">
  <div
    class="flex h-full flex-grow flex-col items-center justify-start gap-10 p-5"
  >
    <h1
      class="p-2 text-center text-3xl font-extrabold text-bot-blue md:text-6xl"
    >
      Privacy Policy
    </h1>
    <p class="max-w-xl text-center text-lg">
      Back On Track America (a 501(c)(3) nonprofit, EIN 88-1455899) values your
      privacy. We collect only necessary personal information to provide and
      improve our services. We do not sell, trade, or share your data with third
      parties, except as required by law.<br /><br />
      Your information is protected using industry-standard security measures. You
      may request to review, update, or delete your data by contacting us.<br
      /><br />
      By using our services, you consent to this policy. We may update it periodically,
      with changes posted on our website.<br /><br />
      Contact: <a
        class="underline"
        href="mailto:luke.oldenburg@backontrackus.org"
        >Luke Oldenburg &lt;luke.oldenburg@backontrackus.org&gt;</a
      >
    </p>
  </div>
</BackOnTrackLayout>
