---
import BackOnTrackLayout from "../layouts/BackOnTrackLayout.astro";
---

<BackOnTrackLayout title="PVSA">
  <div
    class="flex flex-grow flex-col items-center justify-center bg-black/[.7] bg-[url('/ftb.jpg')] bg-cover bg-fixed bg-center bg-no-repeat p-3 text-center font-semibold text-white bg-blend-overlay"
  >
    <div class="mx-10 md:mx-20">
      <h1 class="m-7 text-3xl md:m-14 md:text-5xl">
        Back on Track America is a <a
          class="underline"
          href="https://presidentialserviceawards.gov/eligibility#organizations"
          >Certifying Organization</a
        > for the <a
          class="underline"
          href="https://presidentialserviceawards.gov/"
          >President's Volunteer Service Award Program</a
        >.
      </h1>

      <h2 class="m-4 text-xl md:m-10 md:text-4xl">
        <a
          class="underline"
          href="https://presidentialserviceawards.gov/eligibility#volunteers"
          >Eligible volunteers</a
        > can talk to their <a
          class="underline"
          href="https://backontrackus.org/team/">local chapter leader</a
        > on how to verify their hours and receive an award.
      </h2>

      <h3 class="m-4 text-xl md:m-10 md:text-4xl">
        More information about the program can be found <a
          class="underline"
          href="https://presidentialserviceawards.gov/">here</a
        >. Those interested in logging their hours for a PVSA must fill out <a
          class="underline"
          href="https://forms.gle/FpWBc2ByqYoZNVeF7">this form</a
        > after each event. Starting 2025, only hours volunteered with Back on Track
        America will be certified.
      </h3>
    </div>
  </div>
</BackOnTrackLayout>
