---
import BackOnTrackLayout from "../layouts/BackOnTrackLayout.astro";
import PocketBase from "pocketbase";

const pb = new PocketBase("https://backontrack.lukeo.hackclub.app");

const records = await pb.collection("team").getFullList({
  sort: "+title,+location,+name",
});
---

<BackOnTrackLayout title="Back on Track | Team">
  <script>
    function resizeGridCols() {
      const teamGrid = document.getElementById("team-grid");
      if (teamGrid !== null) {
        if (window.innerWidth <= 640) {
          teamGrid.classList.remove("grid-cols-1");
          teamGrid.classList.remove("grid-cols-2");
          teamGrid.classList.remove("grid-cols-3");
          teamGrid.classList.remove("grid-cols-4");
          teamGrid.classList.remove("grid-cols-5");
          teamGrid.classList.add("grid-cols-1");
        } else if (window.innerWidth <= 768) {
          teamGrid.classList.remove("grid-cols-1");
          teamGrid.classList.remove("grid-cols-2");
          teamGrid.classList.remove("grid-cols-3");
          teamGrid.classList.remove("grid-cols-4");
          teamGrid.classList.remove("grid-cols-5");
          teamGrid.classList.add("grid-cols-2");
        } else if (window.innerWidth <= 1024) {
          teamGrid.classList.remove("grid-cols-1");
          teamGrid.classList.remove("grid-cols-2");
          teamGrid.classList.remove("grid-cols-3");
          teamGrid.classList.remove("grid-cols-4");
          teamGrid.classList.remove("grid-cols-5");
          teamGrid.classList.add("grid-cols-3");
        } else if (window.innerWidth <= 1080) {
          teamGrid.classList.remove("grid-cols-1");
          teamGrid.classList.remove("grid-cols-2");
          teamGrid.classList.remove("grid-cols-3");
          teamGrid.classList.remove("grid-cols-4");
          teamGrid.classList.remove("grid-cols-5");
          teamGrid.classList.add("grid-cols-4");
        } else {
          teamGrid.classList.remove("grid-cols-1");
          teamGrid.classList.remove("grid-cols-2");
          teamGrid.classList.remove("grid-cols-3");
          teamGrid.classList.remove("grid-cols-4");
          teamGrid.classList.remove("grid-cols-5");
          teamGrid.classList.add("grid-cols-5");
        }
      }
    }
    resizeGridCols();
    window.addEventListener("resize", resizeGridCols);
  </script>
  <div id="team-grid" class="grid content-center justify-center">
    {
      records.map((record) => (
        <div class="bg-gray m-5">
          <img class="object-cover" src={pb.getFileUrl(record, record.image)} />
          <h2>{record.name}</h2>
          <p>{record.title}</p>
          <div class="flex items-center">
            <svg
              class="h-8 w-8 text-orange"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              {" "}
              <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z" />{" "}
              <circle cx="12" cy="10" r="3" />
            </svg>
            <p>{record.location}</p>
          </div>
          <p>{record.bio}</p>
        </div>
      ))
    }
  </div>
</BackOnTrackLayout>
