---
import BackOnTrackLayout from "../layouts/BackOnTrackLayout.astro";
import PocketBase from "pocketbase";
import { Image } from "astro:assets";
import TeamMember from "../components/TeamMember.astro";

const pb = new PocketBase("https://pb.backontrackus.org");

const records = await pb.collection("team").getFullList({
  filter: "hidden = false",
  sort: "-priority,+location,+title,+name",
});
---

<BackOnTrackLayout title="Team">
  <!-- team heading -->
  <div class="m-5">
    <h1
      class="p-3 text-center text-4xl font-extrabold text-bot-blue md:p-5 md:text-6xl"
    >
      Meet Our National Executives
    </h1>
    <hr class="m-3 md:m-5" />
    <h2
      class="p-1 text-center text-xl font-extrabold text-bot-blue md:p-3 md:text-2xl"
    >
      Meet the people who keep Back on Track on track!
    </h2>
  </div>

  <!-- team grid -->
  <div
    class="grid h-full flex-grow content-center justify-center sm:grid-cols-1 sm:px-20 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5"
  >
    {
      records
        .filter((record) => !record.retired)
        .map((record) => (
          <TeamMember pb={pb} record={record} />
        ))
    }
  </div>

  {() => {
    if (records.filter((record) => record.retired).length > 0) {
      return (
        <!-- acknowledgments heading -->
        <div class="m-5">
          <h1
            class="p-3 text-center text-3xl font-extrabold text-bot-blue md:p-5 md:text-6xl"
          >
            Acknowledgments
          </h1>
          <hr class="m-3 md:m-5" />
          <h2
            class="p-1 text-center text-lg font-extrabold text-bot-blue md:p-3 md:text-2xl"
          >
            Thank you to these people for shaping Back on Track into what it is today!
          </h2>
        </div>

        <!-- acknowledgments grid -->
        <div
          class="grid h-full flex-grow content-center justify-center sm:grid-cols-1 sm:px-20 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5"
        >
          {
            records
              .filter((record) => record.retired)
              .map((record) => (
                <TeamMember pb={pb} record={record} />
              ))
          }
        </div>
        );
    }
  }}
</BackOnTrackLayout>
