---
import BackOnTrackLayout from "../layouts/BackOnTrackLayout.astro";
---

<BackOnTrackLayout title="Volunteer">
  <div
    class="h-full bg-black/[.6] bg-[url('/volunteer.png')] bg-cover bg-center bg-no-repeat bg-blend-overlay"
  >
    <h1 class="pt-10 text-center text-4xl font-bold text-white">Join Us</h1>
    <h2 class="pt-5 text-center text-3xl font-semibold text-white">
      Interested in volunteering?<br />Click on the location closest to you to
      join!
    </h2>
  </div>
</BackOnTrackLayout>
