---
import BackOnTrackLayout from "../layouts/BackOnTrackLayout.astro";
---

<BackOnTrackLayout title="Volunteer">
  <div
    class="h-full bg-[url('/volunteer.png')] bg-cover bg-center bg-no-repeat brightness-50"
  >
  </div>
</BackOnTrackLayout>
