---

---

<footer class="w-screen justify-center items-center text-center">
  <div class="shadow-inner py-4">
    <a
      class="text-blue text-xl underline"
      href="mailto:leadership@backontrackus.org">Contact Us</a
    >
  </div>
  <p class="bg-orange text-blue text-xl py-3">EIN: 88-1455899</p>
  <p class="bg-blue text-white text-xl py-2">
    &#169; 2024 Back on Track America Inc.
  </p>
</footer>
