---

---

<footer class="w-screen items-center justify-center text-center font-medium">
  <div class="py-4 shadow-inner">
    <a class="text-xl text-blue underline" href="/contact">Contact Us</a>
  </div>
  <p class="bg-orange py-3 text-xl text-blue">EIN: 88-1455899</p>
  <p class="bg-blue py-2 text-xl text-white">
    &#169; 2024 Back on Track America Inc.
  </p>
</footer>
