---

---

<footer class="fixed w-screen justify-center items-center text-center bottom-0">
  <div class="w-screen h-full shadow-inner">
    <a class="text-blue text-xl underline" href="/contact">
      <p class="py-5">Contact</p>
    </a>
  </div>
  <p class="bg-orange text-blue text-xl py-4">EIN: 88-1455899</p>
  <p class="bg-blue text-white text-xl py-3">&#169; 2024 Back on Track America Inc.</p>
</footer>
