---

---

<footer class="w-screen items-center justify-center text-center font-medium">
  <div class="py-2 shadow-inner sm:py-4">
    <a class="text-base text-bot-blue underline sm:text-xl" href="/contact">
      Contact Us
    </a>
  </div>
  <p class="bg-bot-orange py-1 text-base text-white sm:py-3 sm:text-xl">
    EIN: 88-1455899
  </p>
  <p class="bg-bot-blue py-1 text-base text-white sm:py-2 sm:text-xl">
    &#169; 2024 Back on Track America Inc.
  </p>
</footer>
