---
const pages = [
  "Home",
  "Volunteer",
  "Team",
  "Apply",
  "Calendar",
  "Shop",
  "Contact",
  "About",
];
---

<nav
  class="sticky left-0 top-0 flex w-full flex-wrap items-center justify-center gap-3 bg-bot-blue py-5"
>
  <a class="hover:text-orange mx-5 text-xl font-bold text-white" href="/">
    Back on Track America
  </a>
  <div class="mx-5 hidden h-10 w-px bg-white md:block"></div>
  <div class="flex flex-wrap items-center justify-evenly">
    {
      pages.map((p) => (
        <a
          class="mx-5 text-center text-white hover:text-bot-orange"
          href={`/${p === "Home" ? "" : p.toLowerCase()}`}
        >
          {p}
        </a>
      ))
    }
  </div>
</nav>
