---
---

<nav class="sticky top-0 w-screen justify-center items-center text-center py-5 bg-blue">
  <a class="mx-5 text-white hover:text-orange transition-colors" href="/">Home</a>
  <a class="mx-5 text-white hover:text-orange transition-colors" href="/mission">Mission</a>
  <a class="mx-5 text-white hover:text-orange transition-colors" href="/volunteer">Volunteer</a>
  <a class="mx-5 text-white hover:text-orange transition-colors" href="/photos">Photos</a>
  <a class="mx-5 text-white hover:text-orange transition-colors" href="/team">Team</a>
  <a class="mx-5 text-white hover:text-orange transition-colors" href="https://forms.gle/J6BVwZoXLKowxfJEA">Apply</a>
  <a class="mx-5 text-white hover:text-orange transition-colors" href="/calendar">Calendar</a>
  <a class="mx-5 text-white hover:text-orange transition-colors" href="https://forms.gle/GTZRWYVE9Cy6Ur7FA">Shop</a>
  <a class="mx-5 text-white hover:text-orange transition-colors" href="mailto:leadership@backontrackus.org">Contact</a>
</nav>
