---

---

<nav
  class="sticky top-0 flex w-screen items-center justify-center bg-blue py-5"
>
  <a class="mx-5 text-xl font-bold text-white hover:text-orange" href="/">
    Back on Track America
  </a>
  <div class="mx-5 h-10 w-px bg-white"></div>
  <div class="flex items-center">
    <a class="mx-5 text-white hover:text-orange" href="/">Home</a>
    <a class="mx-5 text-white hover:text-orange" href="/volunteer">Volunteer</a>
    <a class="mx-5 text-white hover:text-orange" href="/team">Team</a>
    <a class="mx-5 text-white hover:text-orange" href="/apply">Apply</a>
    <a class="mx-5 text-white hover:text-orange" href="/calendar">Calendar</a>
    <a class="mx-5 text-white hover:text-orange" href="/shop">Shop</a>
    <a class="mx-5 text-white hover:text-orange" href="/contact">Contact</a>
    <a class="mx-5 text-white hover:text-orange" href="/about">About</a>
  </div>
</nav>
