---
const pages = [
  "Home",
  "Volunteer",
  "Team",
  "Apply",
  "Calendar",
  "Shop",
  "Contact",
  "About",
];
---

<!-- Desktop Navbar -->
<nav
  class="sticky left-0 top-0 hidden w-full flex-wrap items-center justify-center gap-3 bg-bot-blue py-5 md:flex"
>
  <a class="hover:text-orange mx-5 text-xl font-bold text-white" href="/">
    Back on Track America
  </a>
  <div class="mx-5 h-10 w-px bg-white"></div>
  <div class="flex flex-wrap items-center justify-evenly">
    {
      pages.map((p) => (
        <a
          class="mx-5 text-center text-white hover:text-bot-orange"
          href={`/${p === "Home" ? "" : p.toLowerCase()}`}
        >
          {p}
        </a>
      ))
    }
  </div>
</nav>

<!-- Mobile Navbar -->
<nav
  class="sticky left-0 top-0 flex w-full flex-wrap items-center justify-between bg-bot-blue p-3 md:hidden"
>
  <a class="hover:text-orange p-1 text-lg font-bold text-white" href="/">
    Back on Track America
  </a>
  <button
    class="content-end text-lg font-bold text-white focus:outline-none"
    onclick="document.getElementById('mobile-menu').classList.toggle('hidden')"
  >
    &#9776;
  </button>
  <div
    id="mobile-menu"
    class="hidden w-full flex-col items-center justify-evenly"
  >
    {
      pages.map((p) => (
        <a
          class="mx-5 block text-center text-white hover:text-bot-orange"
          href={`/${p === "Home" ? "" : p.toLowerCase()}`}
        >
          {p}
        </a>
      ))
    }
  </div>
</nav>
