---

---

<nav class="flex fixed w-screen justify-center items-center text-center my-5">
  <a class="mx-5" href="/">Home</a>
  <a class="mx-5" href="/mission">Mission</a>
  <a class="mx-5" href="/volunteer">Volunteer</a>
  <a class="mx-5" href="/photos">Photos</a>
  <a class="mx-5" href="/team">Team</a>
  <a class="mx-5" href="/apply">Apply</a>
  <a class="mx-5" href="/calendar">Calendar</a>
  <a class="mx-5" href="/shop">Shop</a>
  <a class="mx-5" href="/contact">Contact</a>
</nav>
