---

---

<nav
  class="bg-bot-blue sticky top-0 flex w-screen items-center justify-center py-5"
>
  <a class="mx-5 text-xl font-bold text-white hover:text-orange" href="/">
    Back on Track America
  </a>
  <div class="mx-5 h-10 w-px bg-white"></div>
  <div class="flex items-center">
    <a class="hover:text-bot-orange mx-5 text-white" href="/">Home</a>
    <a class="hover:text-bot-orange mx-5 text-white" href="/volunteer"
      >Volunteer</a
    >
    <a class="hover:text-bot-orange mx-5 text-white" href="/team">Team</a>
    <a class="hover:text-bot-orange mx-5 text-white" href="/apply">Apply</a>
    <a class="hover:text-bot-orange mx-5 text-white" href="/calendar"
      >Calendar</a
    >
    <a class="hover:text-bot-orange mx-5 text-white" href="/shop">Shop</a>
    <a class="hover:text-bot-orange mx-5 text-white" href="/contact">Contact</a>
    <a class="hover:text-bot-orange mx-5 text-white" href="/about">About</a>
  </div>
</nav>
