---
import { Image } from "astro:assets";
---

<div class="fixed bottom-0 right-0 bg-orange p-5">
  <a href="https://www.linkedin.com/company/back-on-track-america/">
    <Image src="/linkedin.webp" alt="linkedin logo" width="40" height="40" />
  </a>
  <a href="https://www.instagram.com/backontrackamerica/">
    <Image src="/instagram.webp" alt="instagram logo" width="40" height="40" />
  </a>
</div>
