---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";

import "@fontsource-variable/oswald";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <style is:global>
      * {
        font-family: "Oswald Variable", sans-serif;
      }
    </style>
    <div class="flex h-screen flex-col">
      <Navigation />
      <slot />
      <Footer />
    </div>
  </body>
</html>
